@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@600&family=Montserrat:wght@100;600&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    height: 100vh;
    box-sizing: border-box;
    background-color: #000000;
    color: #F6F6F6;
}

.titulo-destaque{
    color: #0292B7;
}

.apresentacao{
    margin: 5% 10%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.apresentacao__conteudo{
    width: 615px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    text-align: center;
}

.apresentacao__conteudo__titulo{
    font-family: 'Comfortaa', cursive;
    font-size: 36px;
}

.apresentacao__conteudo__texto{
    font-family: 'Montserrat', sans-serif;
    font-weight: 100;
    font-size: 24px;
}

.apresentacao__links{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 32px;
    justify-content: space-between;
}

.apresentacao_links_subtitulo{
    font-family: 'Comfortaa', sans-serif;
    font-weight: 400;
    font-size: 24px;
}

.apresentacao__links__link{
    border: 2px solid #22D4FD;
    width: 280px;
    text-align: center;
    border-radius: 16px;
    font-size: 18px;
    padding: 16px 0px;
    text-decoration: none;
    color: #F6F6F6;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}